    <div class="input-group mt-3 mb-3" id="filters">

        <div class="input-group-prepend">
            <label class="input-group-text" for="select_produto">Produto</label>
        </div>
        <select id="select_produto" class="mr-2 form-control selectpicker">
            <option value="%" selected>Todos</option>
        </select>

        <div class="input-group-prepend">
            <label class="input-group-text" for="select_loja">Loja</label>
        </div>
        <select id="select_loja" class="mr-2 form-control selectpicker">
            <option value="%" selected>Todos</option>
        </select>

        <div class="input-group-prepend">
            <label class="input-group-text" for="date_data_extracao_start">Data Inicial</label>
        </div>
        <input type="date" id="date_data_extracao_start"
               class="mr-2 form-control" style="width: 150px;">

        <div class="input-group-prepend">
            <label class="input-group-text" for="date_data_extracao_end">Data Final</label>
        </div>
        <input type="date" id="date_data_extracao_end"
               class="mr-2 form-control" style="width: 150px;">


    </div>