
<nav id="sidebar" class="active">

    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                Dashboard Máquinas
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                <a href="{{url_for('machines_crawler.hist')}}">Histórico</a>
                </li>
                <li>
                <a href="{{url_for('machines_crawler.min')}}">Mínimo</a>
                </li>
                <li>
                <a href="{{url_for('machines_crawler.evolution')}}">Evolução</a>
                </li>
                <li>
                <a href="{{url_for('machines_crawler.line_chart')}}">Gráfico de Linha</a>
                </li>

            </ul>
            </li>
            <li>
            <a href="#">About</a>
        </ul>
        <div class="footer">
        <p>
        Copyright ©<script type="text/javascript">document.write(new Date().getFullYear());</script>2020 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
        </p>
        </div>
    </div>
</nav>