<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chart.js Example</title>
    <!-- import plugin script -->
    <script src="{{url_for('static', filename='js/Chart.min.js')}}"></script>

  </head>
  <body>
    <h1>Simple Line Chart</h1>
    <!-- bar chart canvas element -->
    <canvas id="myChart" width="600" height="400"></canvas>
    <p id="caption">The chart is displaying a simple line chart.</p>

<!--    {{values}} {{legend}}-->
<!--  <script>  var values = {{values}} </script>-->

  <script>  var context = JSON.parse('{{ context | tojson | safe}}') </script>
  <script src="{{url_for('static', filename='js/line-chart-test.js')}}"></script>

  </body>
</html>
